<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DaoType" value="DataBase"/>
    <add key="DataBaseAccesType"  value="Local"/>
    <!--<add key="DaoType" value="Memory"/>-->
  </appSettings>
  <connectionStrings>
    <add name="Remote" connectionString="Data Source=DANGIZ-NOTEBOOK;Encrypt=False;Integrated Security=False;User ID=sa;password=Windows555;database=LibrarySystem" />
    <add name="Local" connectionString="Data Source=DANGIZ-NOTEBOOK;Initial Catalog=LibrarySystem;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>